extends pug/base

append vars
	title Тестовое задание от Мегафона

block content

	.panel--grey
		.container
			.section__title Одна строка

	.container

		.section__info

			.info__item
				img(src="images/calendar-32.svg").info__item-icon
				.info__item-string Живой голос вместо робота

			.info__item
				img(src="images/balance-32.svg").info__item-icon
				.info__item-string Живой голос вместо робота

			.info__item
				img(src="images/edit-32.svg").info__item-icon
				.info__item-string Живой голос вместо робота

			.info__item
				img(src="images/autopay-32.svg").info__item-icon
				.info__item-string Живой голос вместо робота

			.info__item
				img(src="images/archive-32.svg").info__item-icon
				.info__item-string Живой голос вместо робота

			.info__item
				img(src="images/multi-account-32.svg").info__item-icon
				.info__item-string Живой голос вместо робота



	.panel--grey
		.container
			.section__title Более одной
				br
				|	строки


	.container
		.section__info

			.info__item.info__item--text
				img(src="images/calendar-32.svg").info__item-icon.info__item-icon--text
				.info__item-text Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с

			.info__item.info__item--text
				img(src="images/balance-32.svg").info__item-icon.info__item-icon--text
				.info__item-text Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с

			.info__item.info__item--text
				img(src="images/edit-32.svg").info__item-icon.info__item-icon--text
				.info__item-text Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с

			.info__item.info__item--text
				img(src="images/autopay-32.svg").info__item-icon.info__item-icon--text
				.info__item-text Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с

			.info__item.info__item--text
				img(src="images/archive-32.svg").info__item-icon.info__item-icon--text
				.info__item-text Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с

			.info__item.info__item--text
				img(src="images/multi-account-32.svg").info__item-icon.info__item-icon--text
				.info__item-text Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с




	.panel--grey
		.container
			.section__title Выделенный


	.container

		.section__info

			.info__item
				img(src="images/calendar-32.svg").info__item-icon
				.info__item-string.info__item-string--bolder Живой голос вместо робота

			.info__item
				img(src="images/balance-32.svg").info__item-icon
				.info__item-string.info__item-string--bolder Живой голос вместо робота

			.info__item
				img(src="images/edit-32.svg").info__item-icon
				.info__item-string.info__item-string--bolder Живой голос вместо робота

			.info__item
				img(src="images/autopay-32.svg").info__item-icon
				.info__item-string.info__item-string--bolder Живой голос вместо робота

			.info__item
				img(src="images/archive-32.svg").info__item-icon
				.info__item-string.info__item-string--bolder Живой голос вместо робота

			.info__item
				img(src="images/multi-account-32.svg").info__item-icon
				.info__item-string.info__item-string--bolder Живой голос вместо робота




	.panel--grey
		.container
			.section__title Выделенный
				br
				|	+ текст



	.container
		.section__info

			.info__item.info__item--text
				img(src="images/calendar-32.svg").info__item-icon.info__item-icon--text
				.info__item-block
					.info__item-string.info__item-string--bolder.info__item-string--text Живой голос вместо робота
					.info__item-text--under Выплачиваем вознаграждения за покупки настоящими деньгами.

			.info__item.info__item--text
				img(src="images/balance-32.svg").info__item-icon.info__item-icon--text
				.info__item-block
					.info__item-string.info__item-string--bolder.info__item-string--text Живой голос вместо робота
					.info__item-text--under Выплачиваем вознаграждения за покупки настоящими деньгами.

			.info__item.info__item--text
				img(src="images/edit-32.svg").info__item-icon.info__item-icon--text
				.info__item-block
					.info__item-string.info__item-string--bolder.info__item-string--text Живой голос вместо робота
					.info__item-text--under Выплачиваем вознаграждения за покупки настоящими деньгами.

			.info__item.info__item--text
				img(src="images/autopay-32.svg").info__item-icon.info__item-icon--text
				.info__item-block
					.info__item-string.info__item-string--bolder.info__item-string--text Живой голос вместо робота
					.info__item-text--under Выплачиваем вознаграждения за покупки настоящими деньгами.

			.info__item.info__item--text
				img(src="images/archive-32.svg").info__item-icon.info__item-icon--text
				.info__item-block
					.info__item-string.info__item-string--bolder.info__item-string--text Живой голос вместо робота
					.info__item-text--under Выплачиваем вознаграждения за покупки настоящими деньгами.

			.info__item.info__item--text
				img(src="images/multi-account-32.svg").info__item-icon.info__item-icon--text
				.info__item-block
					.info__item-string.info__item-string--bolder.info__item-string--text Живой голос вместо робота
					.info__item-text--under Выплачиваем вознаграждения за покупки настоящими деньгами.







	.panel--grey
		.container
			.section__title Выделенный
				br
				|	+ большой текст


	.container
		.section__info

			.info__item.info__item--text
				img(src="images/calendar-32.svg").info__item-icon.info__item-icon--text
				.info__item-block
					.info__item-string.info__item-string--bolder.info__item-string--text Живой голос вместо робота
					.info__item-text--under Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с

			.info__item.info__item--text
				img(src="images/balance-32.svg").info__item-icon.info__item-icon--text
				.info__item-block
					.info__item-string.info__item-string--bolder.info__item-string--text Живой голос вместо робота
					.info__item-text--under Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с

			.info__item.info__item--text
				img(src="images/edit-32.svg").info__item-icon.info__item-icon--text
				.info__item-block
					.info__item-string.info__item-string--bolder.info__item-string--text Живой голос вместо робота
					.info__item-text--under Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с

			.info__item.info__item--text
				img(src="images/autopay-32.svg").info__item-icon.info__item-icon--text
				.info__item-block
					.info__item-string.info__item-string--bolder.info__item-string--text Живой голос вместо робота
					.info__item-text--under Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с

			.info__item.info__item--text
				img(src="images/archive-32.svg").info__item-icon.info__item-icon--text
				.info__item-block
					.info__item-string.info__item-string--bolder.info__item-string--text Живой голос вместо робота
					.info__item-text--under Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с

			.info__item.info__item--text
				img(src="images/multi-account-32.svg").info__item-icon.info__item-icon--text
				.info__item-block
					.info__item-string.info__item-string--bolder.info__item-string--text Живой голос вместо робота
					.info__item-text--under Выплачиваем вознаграждения за покупки настоящими деньгами. Оплачивайте связь, интернет-покупки или снимайте их в банкомате с



	.panel--grey.panel--grey--footer
