// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-white: #fff;
$color-dark-grey:  #333;
$color-bg-title: #ededed;

// FONTS

$font-family-MegaFonGraphikLC: "MegaFonGraphikLC", sans-serif;


// Media Queries

$widescreen: 1280px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 500px;
